@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Bienvenido a la página de TeamSeguros aquí podra registrar clientes, vehiculos de cada cliente y podrá asignarile un seguro a los vehiculos.</h3>
    <p>
        En breve se redireccionara a la página de los clientes
    </p>
</div>
<script>
    setInterval(() => {
        window.location.pathname = '/Clients/Index'
    }, 8000);
</script>