@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-12">
        Desarrollada por John David Gonzalez.
    </div>
    <div class="col-12">
       Estudiante Ingeniería de Sistemas.
    </div>
    <div class="col-12">
       Universidad de Antioquia.
    </div>
</div>

